.BrowseHappy{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: map-get($palette, red-900);
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 100;

  &--hidden{
    &, &:hover{
      opacity: 0;
    }
  }

  &__link{
    color: map-get($palette, white);
    font-weight: bold;

    &:hover{
      color: map-get($palette, amber-500);
    }
  }
}