$top-anchor-background-color: $custom-color-blue;
$top-anchor-foreground-color: map-get($palette, white);

@import "lazier/modules/top-anchor";

.TopAnchor{
  @extend %top-anchor;
  cursor: pointer;

  &:hover{
    color: map-get($palette, white);
    background-color: map-get($palette, teal-800);
  }

  &--hidden{
    &, &:hover{
      opacity: 0;
    }
  }
}

.BrowseHappy{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: map-get($palette, red-900);
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 100;

  &--hidden{
    &, &:hover{
      opacity: 0;
    }
  }

  &__link{
    color: map-get($palette, white);
    font-weight: bold;

    &:hover{
      color: map-get($palette, amber-500);
    }
  }
}

/* Adapted from here: https://tech.scrunch.com/blog/creating-an-animated-svg-spinner/ */
$spinnerSize: 66;
$spinnerDuration: 2s;

@keyframes spinner {
  0%{
    stroke-dashoffset: (0.66 * $spinnerSize);
    transform: rotate(0deg);
  }
  50%{
    stroke-dashoffset: (3.14 * $spinnerSize);
    transform: rotate(720deg);
  }
  100%{
    stroke-dashoffset: (0.66 * $spinnerSize);
    transform: rotate(1080deg);
  }
}

.Spinner{
  &__icon{
    width: ($spinnerSize / 10) + rem;
    height: ($spinnerSize / 10) + rem;
  }

  &__icon-path{
    width: ($spinnerSize / 10) + rem;
    height: ($spinnerSize / 10) + rem;
    fill: transparent;
    stroke: map-get($palette, black);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 3.14 * $spinnerSize;
    animation: spinner $spinnerDuration linear infinite;
    transform-origin: center;
  }
}

@media (max-width: map-get($breakpoints, mw6xx)){
  .TopAnchor{
    width: 3em;
    height: 3em;
  }
}

@media (max-width: map-get($breakpoints, mw45xx)){
  .TopAnchor{
    width: 2em;
    height: 2em;
  }
}

@media (max-height: map-get($breakpoints, mh6xx)){
  .TopAnchor{
    width: 2em;
    height: 2em;
  }
}