$top-anchor-background-color: $custom-color-blue;
$top-anchor-foreground-color: map-get($palette, white);

@import "lazier/modules/top-anchor";

.TopAnchor{
  @extend %top-anchor;
  cursor: pointer;

  &:hover{
    color: map-get($palette, white);
    background-color: map-get($palette, teal-800);
  }

  &--hidden{
    &, &:hover{
      opacity: 0;
    }
  }
}

.BrowseHappy{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: map-get($palette, red-900);
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 100;

  &--hidden{
    &, &:hover{
      opacity: 0;
    }
  }

  &__link{
    color: map-get($palette, white);
    font-weight: bold;

    &:hover{
      color: map-get($palette, amber-500);
    }
  }
}

@media (max-width: map-get($breakpoints, mw6xx)){
  .TopAnchor{
    width: 3em;
    height: 3em;
  }
}

@media (max-width: map-get($breakpoints, mw45xx)){
  .TopAnchor{
    width: 2em;
    height: 2em;
  }
}

@media (max-height: map-get($breakpoints, mh6xx)){
  .TopAnchor{
    width: 2em;
    height: 2em;
  }
}